<div class="topbar" data-scrollspy="scrollspy" >
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/dashboard"><%= PRODUCT_NAME %></a>
		<%= render_navigation %>
    </div>
  </div>
</div>